/* shared styles */

*{
    margin: 0px;
}

.shared-container{
    width: 1440px;
}

body{
    font-family: "lato", sans-serif;
    color: #272727;
}

h1{
    font-size: 80px;
    font-weight: 800;
}

.secondary-font{
    font-size: 40px;
    font-weight: 800;
}

.primary-font{
    font-size: 18px;
    font-weight: normal;
}

.primary-btn{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
    
}

/* header styles */

.header-banner{
    /* display: block; */
    padding-top: 50px;
    background-color: #FDEEF1;
}

.header-banner > .shared-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content > h1{
    margin-bottom: 16px;
}
.header-content > p{
    margin: 16px 0px;
}
.header-content > .primary-btn{
    margin-top: 16px;
}

/* header styles mobile */

@media screen and (max-width: 576px) {
    .header-banner > .shared-container{
        flex-direction: column;
        width: 100%;
    }

    .header-banner{
        padding: 0px 30px;
    }

    .header-content > h1{
        font-size: 50px;
    }

    .header-image > img{
        width: 100%;
        margin-top: 50px;
    }
}

/* flower styles */

.featured-flower{
    margin-top: 100px;
}

.featured-flower > .shared-container{
    margin: auto;
    text-align: center;
}

.flower-text{
    margin-bottom: 48px;
}

.flower-text > h3{
    margin-bottom: 24px;
}

.flower-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flower-1-image{
    background-color: #F2DEE8;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.flower-2-image{
    background-color: #DAF0F1;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.flower-3-image{
    background-color: #E4ECDC;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.flower-1-image > img{
    width: 310px;
    height: 428px;
    position: relative;
    top: 110px;
}

.flower-2-image > img{
    width: 370px;
    height: 370px;
    position: relative;
    top: 110px;
}

.flower-3-image > img{
    width: 310px;
    height: 428px;
    position: relative;
    top: 110px;
}

.flower-1-name, .flower-2-name, .flower-3-name{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 32px;
}

/* flower styles mobile */

@media screen and (max-width: 576px) {
    .flower-content{
        width: 100%;
        flex-direction: column;
        /* padding: 120px; */
        margin-bottom: 50px;
        align-content: center;
    }

    .featured-flower > .shared-container{
        width: 100%;
        /* margin: 20px; */
    }

    .flower-container-1{
        width: 100%;
    }

    .flower-1-image{
        width: 100%;
        ;
    }
    .flower-container-2{
        width: 100%;
    }

    .flower-2-image{
        width: 100%;
    }
    .flower-container-3{
        width: 100%;
    }

    .flower-3-image{
        width: 100%;
    }

    .flower-1-name, .flower-2-name, .flower-3-name{
        margin: 30px 0px 40px 0px;
    } 

    .flower-2-image > img{
        width: 100%; 
    }
}

/* info styles */

.info-container{
    height: 400px;
    margin-top: 128px;
}

.info-container > .shared-container{
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.delivery-image{
    margin-bottom: 24px;
}

.info-flower-image{
    margin-bottom: 24px;
}

.support-image{
    margin-bottom: 24px;
}

.delivery-text, .info-flower-text, .support-text{
    font-size: 24px;
    font-weight: 500;
}

/* info styles for mobile */

@media screen and (max-width: 576px) {

    .info-container{
        margin-top: 100px;
        margin-bottom: 400px;
        padding: auto;
    }

    .info-container > .shared-container{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 20% 0%;
    }

    .delivery-text{
        margin-bottom: 50px;
    }
    .info-flower-text{
        margin-bottom: 50px;
    } 
    
}

/* hot deal styles */

.hot-deal{
    height: 620px;
    background-color: #FDF6F8;
    padding: auto;
    margin: 128px 0px;
}

.hot-deal > .shared-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: auto
}

.hot-deal-content{
    width: 594px;
}

.hot-deal-content > h3 > span{
    color: #E55473;
}

.hot-deal-content > .secondary-font{
    margin-bottom: 24px;
}

.hot-deal-content > .primary-font{
    margin-bottom: 32px;
}

/* hot deal styles for mobile */

@media screen and (max-width: 576px) {

    .hot-deal{
        margin: 100px 0px;
        height: auto;
    }

    .hot-deal > .shared-container{
        width: 100%;
        flex-direction: column-reverse;
        margin: 100px 0px;
        padding-top: 10%;
    }

    .hot-deal-image{
        width: 80%;
        height: 80%;
    }

    .hot-deal-content{
        width: 80%;
        margin-bottom: 70px;
    }
}

/* instagram styles */

.instagram{
    margin-bottom: 128px;
}

.instagram-content{
    text-align: center;
    padding: 0% 34% 0% 34%;
}

.instagram-content > h3{
    margin-bottom: 24px;
}

.instagram-content > p{
    margin-bottom: 48px;
}

.instagram > .shared-container{
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/* instagram styles for mobile */

@media screen and (max-width: 576px) {

    .instagram-content{
        text-align: center;
        padding: 0% 10% 0% 10%;
    }

    .instagram > .shared-container{
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .instagram > .shared-container > div{
        margin: 10px 0px;
        
    }
}

/* latest deals styles */

.latest-deals{
    margin-bottom: 128px;
}

.latest-deals > .shared-container{ 
    height: 449px;
    display: block;
    align-content: center;
    margin: auto;
    text-align: center;
    background-image: url(images/Rectangle 9.png);
    background-repeat: no-repeat;
}

.latest-deals-content > h3{
    margin-bottom: 16px;
}

.latest-deals-content > p{
    margin-bottom: 48px;
}

.latest-deals-form input[type="email"] {
    font-family: "lato", sans-serif;
    height: 64px;
    border: 0px;
    margin-right: 10px;
    border-radius: 8px;
    width: 670px;
    padding-left: 30px;
}

.latest-deals-form input[type="submit"] {
    font-weight: normal;
}

/* latest deals styles for mobile */

@media screen and (max-width: 576px) {
    .latest-deals > .shared-container{
        width: 100%;
    }

    .latest-deals-form input[type="email"] {
        width: 90%;
        margin-bottom: 20px;
    }

    .latest-deals-form input[type="submit"] {
        width: 100%;
    }

    .latest-deals-form{
        width: 100%;
    }

    form{
        text-align: left;
        padding: 10px;
    }
}

/* footer styles */

footer{
    background-color: #111010;
    height: 449px;
}

footer > .shared-container{
    height: 100%;
    display: block;
    margin: auto;
    text-align: center;
    align-content: center;
}

.footer-heading{
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;
}

.footer-heading > span{
    color: #E55473;
}

.footer-container > .primary-font{
    color: white;
    margin-bottom: 32px;
    padding: 0% 30% 0% 30%;
}

.footer-container > .footer-copyright{
    font-size: 16px;
    color: #353535;
}

/* footer styles for mobile*/

@media screen and (max-width: 576px) {
    footer > .shared-container{
        width: auto;
        padding: 0% 10%;
    }

    .footer-container > .primary-font{
        color: white;
        margin-bottom: 32px;
        padding: 0px;
    }
}
